---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import TagCloud from "@components/TagCloud.astro";
import ContentList from "@components/ContentList.astro";
import { getPreview, sortByDate, getAllTags } from "@scripts/content";

// Get all content from blog collection, filter out draft only in prod
const allPosts = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});

// Prepare content with summary and sort by date
const allContent = sortByDate(
    await Promise.all(
        allPosts.map(async (post) => ({
            id: post.id,
            slug: post.slug,
            data: {
                ...post.data,
                preview: await getPreview(post),
            },
        })),
    ),
);

// Get unique tags from all content
const allTags = getAllTags(allPosts);
---

<BaseLayout title="khalido.org: Blog">
    <h1 class="text-3xl mb-8">Blog Posts</h1>
    <TagCloud tags={allTags} />
    <ContentList contents={allContent} />
</BaseLayout>
