---
const today = new Date();
---


<hr>
<footer class="px-4 py-8 content-center text-center">
    <p class="text-sm text-gray-300 pb-2">
        &copy; {today.getFullYear()}
        <a href="https://twitter.com/KO">@ko</a>
		<a href="https://github.com/khalido/blog">#</a>
    </p>
</footer>
