---
interface Props {
  tags: { tag: string; count: number }[];
}

const { tags } = Astro.props;
---

<div class="flex flex-wrap gap-x-3 gap-y-1">
  {
    tags.map(({ tag, count }) => (
      <a
        class="no-underline text-purple-500 hover:underline hover:bg-yellow-200 whitespace-nowrap"
        href={`/tags/${tag}`}
      >
        {tag} <span class="text-gray-400 text-xs">({count})</span>
      </a>
    ))
  }
</div>
