---
import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).reverse();

const tagss = [...new Array(posts.map((post) => post.data.tags).flat())];
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];



const atags = posts
  .map(blog => blog.data.tags)
  .flat()
  .reduce<{ [key: string]: number }>(function (result, c) {
    var count = result[c] || 0;
    result[c] = count + 1;
    return result;
  }, {});

console.log(atags)
---

    {tags.map((tag) => (
      <p class="pb-3">
        <a class="no-underline opacity-90 text-purple-500 hover:underline hover:bg-yellow-200" href={`/tags/${tag}`}>{tag} {atags[tag]}</a>
        </p>
    ))}
  

