---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';


type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<BaseLayout>
        

<article class="prose md:prose-lg">

	<slot />

    <!-- post meta info div-->
    <div class="text-gray-600 text-base">
        posted <time><FormattedDate date={pubDate} /></time>{/*, updated <time><FormattedDate date={updatedDate} /></time> */}<br>
        
		<!-- tags -->
		tagged:
		{tags.map((tag) => (
			<a href={`/tags/${tag}`} class="text-pink-500 bg-transparent hover:bg-pink-500 hover:text-white active:bg-pink-600 font-bold rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">{tag}</a>
		  ))}
    </div>

</article>


</BaseLayout>